[build]
builder = "nixpacks"

[deploy]
startCommand = "gunicorn backend/transport_booking/wsgi:application --bind 0.0.0.0:$PORT --workers 3 --timeout 120 --worker-class gthread --env DJANGO_SETTINGS_MODULE=transport_booking.settings_production"
healthcheckPath = "/health/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[deploy.preDeploy]
cmds = [
    "python backend/manage.py migrate --settings=transport_booking.settings_production --noinput"
]

[env]
DJANGO_SETTINGS_MODULE = "transport_booking.settings_production"
